:root {
    --primary-color: rgb(13, 0, 87);
    --secondary-color: #e4dbff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --box-shadow-active: 0 8px 18px rgba(49, 211, 247, 0.753);
  }
  
  body {
    margin: 60px auto;
  }
  
  h1 {
    font-size: 96px;
    font-family: "Kurale", serif;
  }
  
  h2 {
    font-size: 48px;
  }
  .hi{
    font-size: 52px;
  }
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
.app-link, .contact-link, about-link{
    padding: 20px 17px;   
    text-transform: capitalize;
}
  .app-link,
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
  }
  .app-link:hover,
  .contact-link:hover {
    box-shadow: var(--box-shadow-active);
    color: #fff;
  }
  .about-link:hover {
    box-shadow: var(--box-shadow-active);
    color: rgb(202, 47, 0);
  }
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  .contact-link,
  .about-link {
    font-size: 19px;
  }
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  @media (max-width: 320px) {
    body {
      margin: 0 auto;
      margin-top: 80px;
    }
    img {
      display: none;
    }
    h1 {
      font-size: 35px;
      color: rgb(209, 143, 0);
    }
    h2 {
      font-size: 35px;
      text-align: center;
    }
    .hi{
      font-size: 41px;
    }
    p{
      text-align: center;
    }
    .app-link{
      display: block;
      text-align: center;
      margin: 0 20px;
      font-size: 19px;
    }
  }
  @media (max-width: 575px) and (min-width: 321px) {
    body {
      margin-top: 70px;
    }
    img{
      display:none;
    }
    h1 {
      font-size: 43px;
      color: rgb(202, 47, 0);
    }
    h2 {
      font-size: 40px;
      text-align: center;
    }
    .about-link,
    .contact-link {
      margin: 17px;
      margin-top: 25px;
      font-size: 20px;
    }
    .app-link{
      display: block;
      text-align: center;
      margin: 0 20px;
      font-size: 20px;
    }
    p{
      text-align: center;
    }
  }
  
  @media (max-width: 677px) and (min-width: 576px) {
    body {
      margin-top: 60px;
    }
    h1 {
      font-size: 76px;
      color: rgb(136, 0, 214);
    }
    h2 {
      display:block;
      margin: 0 auto;
      font-size: 50px;
      text-align: center;
    }
    p{
      text-align: center;
    }
    h3 {
      font-size: 26px;
    }
    .about-link,
    .contact-link {
      margin: 17px;
      margin-top: 25px;
      font-size: 25px;
    }
      .app-link{
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }
  
